VITE_BACKEND_URL=http://localhost:8080/api
VITE_BACKUP_IMAGE=https://nationalbarbers.org/wp-content/uploads/2021/07/Untitled-design-18-768x432.png
VITE_GOOGLE_API=API_KEY
VITE_GOOGLE_BASE_URI=https://maps.googleapis.com/maps/api
VITE_GOOGLE_PLACES=https://maps.googleapis.com/maps/api/places
VITE_GOOGLE_GEOCODE=https://maps.googleapis.com/maps/api/geocode
GENERATE_SOURCEMAP=false
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key

VITE_GOOGLE_CLIENT_ID=your_google_client_id
